<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CUSTOMER PAGE</title>
    <style>
      #heading{background-image: linear-gradient(to bottom right, white, white); opacity:0.8; text-align:center;color: lightcoral;font-size:70px;font-family: cursive;}
     
      .button1 {background-color: lightcoral; border: none;color: white; font-weight:bold; padding: 14px 31px;text-align: center;text-decoration: none;display: inline-block;font-size: 15px; border-radius:10px;}
      p{text-align: center;color: black;font-size: 20px; font-weight:bold;}
      button:active{
      color: yellow;
      }
      body {background-image: url('customerpage1.jpg');background-repeat: no-repeat;background-attachment: fixed;background-size: cover;}
    </style>
  </head>
  <body>
    <h1 id="heading">WELCOME TO SWEET TREATS</h1><br>
    <!--<div style="background-color: #ffe6f2; text-align: center; margin-top:30px;">-->
      <br><br><br>
      <p style="margin-top:-70px;">Already a user?</p>
      <center><a class="button1" href="customerlogin"> LOGIN </a></center>
      <br><br>
      <p >New user?</p>
      <center><a class="button1" href="customerregister" > SIGN&nbsp;UP</a></center>
   <!-- </div> -->
  </body>
</html>